[submodule "android-hardware-interfaces"]
	path = android-hardware-interfaces
	url = https://android.googlesource.com/platform/hardware/interfaces/
[submodule "android-frameworks-base"]
	path = android-frameworks-base
	url = https://android.googlesource.com/platform/frameworks/base/
